.movies{
    /* background-color: rgba(244, 245, 212, 0.808); */
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 20%;
}

.movies .movie-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    margin: 5%;
}
.movies .movieCart{
    margin-top: 45px;
    background: linear-gradient(to right, rgb(1,38,144), rgb(28,96,171));
    color: white;
    margin-right: 5px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
    height: fit-content;
}