.movie{
    /* display: flex; */
    /* background-color: red;props.movie */
    /* border: 2px solid red; */
    border-radius: 10px;
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(163, 161, 161, 0.589);
}
@media (max-width: 576px) {
    .movie{
        margin-bottom: 0px;
    }
}
.movie img{
    width: 99%;
    border-radius: 10px 10px 0px 0px;
    /* border: 2px solid green; */
}

.movie .movie-details{
    text-align: center;
    margin-bottom: 40px;
    /* margin-top: -8%; */
}
.movie>.movie-details p{
    margin: 1px;
}
.movie>.movie-details .movie-name{
    margin: 3px;
}
.movie button{
    border: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* color: rgb(251, 247, 2); */
    color: white;
    /* border: 1px solid red; */
    border-radius: 5px 5px 10px 10px;
    padding: 3%;
    font-weight: bold;
    background: linear-gradient(to right, rgb(14,113,211), rgb(22,16,143));
}

.movie button:hover{
    background: rgb(255, 123, 0);
}